body{
  display: flex;
  background-color: darkslategray;
  justify-content: center;
  align-content: fill;
}

.outline{
  flex: 1 0 1;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disp{
  justify-self: stretch;
  text-align: right;
}

.btnGrid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.btno{
  background-color: wheat;
}

.btnc{
  background-color: gray;
}